body{
    margin: 0;
    background-image: url("../img/bg.jpg");
    font-family: Roboto;
    font-size: 15px;
    min-width:380px;
}

main h1{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
    white-space: nowrap;
}
    
main #content{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 10em; 
    /* display slightly to right from center, spacing for nav bar */
    width: fit-content;
    padding: 3em 2em;

    height: fit-content;
    display: inline-block;

    background-color: #f1f1f1;
    text-align: center;

    min-width:550px;
}

/* for email choice screen */
main .emailChoice{
    width :fit-content;
    max-width: 780px;
    background-color: #e5e5e5;
}

main .emailChoice p{ 
    /* Subject, author and date of email */
    width:500px;
    word-wrap: break-word;
    color: #818181;
}

main .emailChoice:hover{
    background-color: skyblue;
    transition: 0.3s;
    text-decoration: none;
}
/* for selected email screen */
main #emailShow p{
    text-align: left;
    /* word-wrap: break-word; */
}

main #emailShow{
    max-width: 700px;
    word-wrap: break-word;
}
/* main buttons */
main .homeSelectButtons{
    padding-top: 1em;
    padding-right:5em;
    padding-left: 5em;
    
    /* background-color: blue; */
    display: inline-block;
}

main .homeSelectButtons{
    min-width: 260px;
}
main .homeSelectButtons .glyphicon{
    font-size: 50px;   
}

main #backButton {
    font-size:50px;
    float: left;
}
nav{
    height: 100%;
    width: 10%;
    position: fixed;
    background-color: #111;
    padding-top: 20px;
    min-width: 150px;
    
}
/* navigation */
nav a {
    padding: 6px;
    font-size: 2em;
    color: #818181;
    display: block;
}

nav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding-left:0;
}
nav ul li{
    width:100%;
    padding-left: 1em;
}
nav ul li:hover{
    transition: 0.3s;
    background-color: lightblue;
}

nav img{
    position: absolute;
    bottom:0;
    left: 25%; 
    width: 50%;
    padding-bottom: 1em;
}



div.fraud{
	background-color:#DDAAAA;
}
div.okay{
	background-color:#AADDAA;
}

/* breakpoint for mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body{
        font-size: 13px;
    }
    main #content{
        left: 12em;
        min-width: 550px;
    }
    nav{
        width: 5%;
    }
}
