<!-- html content which is added to block called content in layout.html -->

{% extends "layout.html" %}
{% block content %}
    <h1>Our Project</h1>
    <p>Marcy, James, Finn</p>
    Our team was formed from the idea of Machine Learning from team building exercises at the beginning of Hack Sheffield 5.<br>
    This website allows the user to login or upload an email as an eml file, using a machine learning data set to return
    whether the model's evaluation on the website - whether the website is valid or spam.     
{% endblock content %}