{% extends "layout.html" %}
{% block content %}
    <h1>Choose an email</h1>
		{%if index>=5%}
		<form method="POST">
			<input type="hidden" name="start" value="{{index-5}}">
			<input type="submit" value="Previous Emails">
		</form>
		{%endif%}
    {%for i, email in emails:%}
		<form method="POST">
			<a href ="/check/{{i+index}}">
				<article class = "emailChoice" >
				<p>{{email[0]}}</p>
				<p>{{email[2]}}</p>
				</article>
			</a>
		</form>
	{%endfor%}
		<form method="POST">
			<input class = "btn" type="hidden" name="start" value="{{index+5}}">
			<input class = "btn" type="submit" value="Next Emails">
		</form>
{% endblock content %}