
<!-- html content which is added to block called content in layout.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>Hack Sheffield - Email AI</h1>
    <div>
        <div class = "homeSelectButtons">
            <a href = "{{url_for('submit')}}">
            <span class="glyphicon glyphicon-envelope"></span><br>
                Login with Gmail
            </a>
        </div>
            
            <div class = "homeSelectButtons">
                <span class="glyphicon glyphicon-cloud-upload"></span><br>
                Upload an email
            </div>
            
    </div>
{% endblock content %}