<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name ="viewport" content = "width = device.width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href = "{{url_for('static', filename = 'css/Bootstrap.css')}}" rel = "text/css">
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/main.css')}}" rel = "text/css">
        
        {% if title %}
            <title>Hack Sheffield Email AI - {{title}}</title>
        {% else %}
            <title>Hack Sheffield Email AI</title>
        {% endif %}   
        
    </head>

    <body>
        <!-- <header>
            <h1> Hack Sheffield - Email AI</h1>
        </header> -->
        <nav>
            <ul>
                <li><a href = "{{url_for('home')}}">Home</a></li>
                <!-- <li><a href = "{{url_for('submit')}}">Submit</a></li> -->
                <li><a href = "{{url_for('about')}}">About</a></li>
            </ul>
            <img src = static/img/hs5.jpg>
        </nav>
        <main>
            <div id = "content">
                {% block content%}
                {% endblock %}
            </div>
        </main>
</html>