{% extends "layout.html" %}
{% block content %}
    <h1> Sign In </h1>
	{%if error!=""%}
	<p style="color:red">{{error}}</p>
	{%endif%}
    <form method="POST" id = "signInForm">
		User Name<br>
		<input name="username" type="text" required/><br>
		Password<br>
		<input name="password" type="password" placeholder="Password"  required/><br>
		IMAP Server <br>
    	<input name="server" type="text" value="imap.gmail.com" placeholder="Server e.g. imap.gmail.com" required/><br><br>
		<input type="submit" class = "btn"/>
	</form>
{% endblock content %}